<configuration>

    <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="FILE">
        <file>log/logFile.log</file> <!--log file name-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logFile.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>[%date{ISO8601}] %-5level [%logger{36}] [%replace(%X{akkaSource}){'akka://actor-service/user/',''}] %msg%n</pattern>
        </encoder>
    </appender>

    <appender class="ch.qos.logback.core.ConsoleAppender" name="STDOUT">
        <encoder>
            <pattern>[%date{ISO8601}] %-5level [%logger{36}] [%replace(%X{akkaSource}){'akka://actor-service/user/',''}] %msg%n</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT" />
    </root>

    <logger name="org.flywaydb" level="INFO" />
    <logger name="com.zaxxer.hikari" level="INFO" />
    <logger name="slick" level="INFO" />

</configuration>